.clean-link {
  text-decoration: none !important;
  color: #fff;
}

.film-card-blur {
  margin-bottom: 35px;

  h4 {
    margin-top: 5px;
    display: inline-block;
  }

  img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .square-blur {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    opacity: 0.7;

    background-size: cover;
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
  }

  .square {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  @media (max-width: 556px) {
    .square {
      position: relative;
      width: 100%;
      height: 270px !important;
      overflow: hidden;
    }
  }
}

.loading-text {
  text-align: center;
  padding: 60px 0 100px 0;
}

.pagination-center {
  text-align: center;

  li {
    a:hover{
      color: #a01010;
      cursor: pointer;
    }
    &.active {
      a {
        color: #a01010;
        font-weight: bolder;
        cursor: default;
      }
    }

  }
}
